html body {
	margin: 0px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

select {
	opacity: 0;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

/* Graph CSS */
#chart {
	width: 100%;
	height: 100%;
}

.nodes {
	stroke: black;
	stroke-width: .5px;
}

.nodes.selected {
	stroke: red;
	stroke-width: 1px;
}

.links line {
	stroke: #555;
	stroke-opacity: .4;
	stroke-width: 0.3px;
}


/* Search CSS */
.left-control {
	position: absolute;
	right: -160px;
	margin: 10px;
}

.left-button {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.left-search {
	width: 200px;
	height: 40px;
}

#search {
	top: 40px;
}

.select2 {
	vertical-align: inherit;
	opacity: 0;
	pointer-events: none;
	/*right: -300px;*/
}


/* Sizing control */
#sizing {
	top: 100px;
}


/* Color control */
#coloring {
	top: 160px;
}


/* Play/Pause CSS */
#time-control {
	position: absolute;
	top: 40px;
	left: 40px;
	opacity: 0.4;
}

#time-control:hover {
	opacity: 1;
}

.right-button {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#play-button {
	display: none;
}

#pause-button {
	display: initial;
}


/*categoy legend*/
.bottom-legend {
	position: absolute;
	bottom: 20px;
	left: 40px;
	border: 2px solid black;
	border-radius: 6px;
	overflow: scroll;
}

.legend-bar {
	width: 100%;
	height: 20px;
	cursor: pointer;
}

.legend-icon {
	width: 16px;
	margin: 2px;
	float: right;
}

.legend-control {
	width: 16px;
	margin: 2px;
	float: left;
	display: none;
}

.legend-content {
	background-color: blue;
	height: 220px;
}

#coloring-legend {
	left: 40px;
}
